.jumbotron {
    background-image: url(img/Ilustrasi-Keuntungan-Iklan-Digital.jpeg);
    background-size: cover;
    height: 640px;
    text-align: center;
}
.jumbotron .display-4{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
}
.jumbotron p{
    color: white;
    margin-top: 30px;
    font-weight: 200;
    font-size: 50px;
}
.jumbotron .display-4 span{
    font-weight: 500;
}



/* tombol */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}



/*Desktop Version */
@media (min-width: 992px) {
    .navbar-barnd, .nav-link{
        color: white !important;
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
       content: '';
       display: block;
       border-bottom: 3px solid blue;
       width: 50%;
       margin: auto;
       padding-bottom: 5px;
       margin-bottom: -8px;
    }
    .jumbotron{
        margin-top: -75px;
    }
    .container .col-sm-6 img{
        margin-left: -26px;
    }
    .container .col-md-6{
        margin-left: -55px;
    }
    .container .col-md-6 img{
        margin-left: 41px;
    }
    .container .col-sm-12{
        margin-left: -40px;
    }
    .jumbotron1{
        background-image: url(img/hp.jpg);
        background-size: cover;
        height: 440px;
        text-align: center;
    }
    .jumbotron1 .display-4{
        color: white;
        text-align: left;
        font-weight: 200;
        padding-top: 118px;
    }
    .jumbotron1 .display-4 span{
        font-weight: 500;
    }
    .jumbotron1 h5{
        text-align: left;
        color: white;
    }
    .email{
        margin-top: 1%;
        width: 519px;
    }
    .input-group-prepend{
      margin-right: 300px;
    }
    .email .mycustom input{
        margin-left: -278px;
    }
    .container-fluid h1 {
        margin-top: 4%;
        text-align: center;
        color: white;
    }
    .container-fluid {
        background-color: grey;
    }
    .container iframe {
        width: 100%;
    }